.block {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: white;

}
.block .hidden {
  display: hidden;
}