.container {
  background-color: lightgray;
  display: flex;
  justify-self: center;
  .game-wrapper {
    margin: auto;
    padding: 5px;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
    border: 1px solid black;
    
  }
}